<div Class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="form">
                <div class="navbar-header">
                    <a class="btn" data-toggle="control-sidebar" (click)="ChangeLanguage()">{{Language=="ENG"?"ENG":"AR"}}</a>
                </div>
                <br />
                <br />
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
                <span class="login100-form-title p-b-34 p-t-27">
                    {{ 'Login' | translate }}
                </span>
                <div class="wrap-input100 validate-input" data-validate="Enter email">
                    <span *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <span class="errors" *ngIf="f.email.errors.required" data-toggle="tooltip" data-placement="top">
                            {{ 'EmailIsNotValid' | translate }}
                        </span>
                    </span>
                    <input class="input100" type="text" name="email" placeholder="{{ 'Email' | translate }}" [(ngModel)]="login.email" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter Password">
                    <span *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <span class="errors" *ngIf="f.password.errors.required" data-toggle="tooltip" data-placement="top">
                            {{ 'required' | translate }}
                        </span>
                    </span>
                    <input class="input100" type="password" name="password" placeholder="{{ 'PasswordLogin' | translate }}" formControlName="password"
                        [(ngModel)]="login.password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        {{ 'Remember' | translate }}
                    </label>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="onLogin()">
                        {{ 'Login' | translate }}
                    </button>
                </div>
                <div class="text-center p-t-90">
                    <a class="txt1" href="#">
                        {{ 'ForgetPassword' | translate }}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>